<!DOCTYPE html>
<html>
    <head>
    </head>
    <title>Student Page</title>
    <body>
        <h1>Students List</h1>
        <div>
            <nav>
                <ul>
                    <a href = "{% url 'add_student' %}">Add New Student</a>
                </ul>
            </nav>
        </div>
        <div>
            <table border=1 cellspacing="0">
                <tr>
                    <th> ID </th>
                    <th> Name </th>
                    <th> Age </th>
                    <th> Email </th>
                    <th> Phone </th>
                    <th> City </th>
                    <th> Option </th>
                </tr> 
                {% for std in students %}
                <tr>
                    <td>{{ std.id}}</td>
                    <td>{{ std.name}}</td>
                    <td>{{ std.age}}</td>
                    <td>{{ std.email}}</td>
                    <td>{{ std.phone}}</td>
                    <td>{{ std.city}}</td>
                    <td><a href = "{% url 'edit_student' std.id %}">Edit</a> | <a href="{% url 'delete_student' std.id %}">Delete</a></td>
                </tr>
                {% endfor%}
            </table>
        </div>
    </body>
</html>